# PostgreSQL connection string (Neon)
DATABASE_URL=postgresql://neondb_owner:npg_A6XHg4OVnpokkjlhbvvcbvKIY@ep-still-field-ayxq3pgb-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Groq API key — https://console.groq.com
GROQ_API_KEY=gsk_J5HAki7444j64xKYs1IwWGdjgfghkvyb3FYDiouyujvPrtphB4Nt4qYclEzh8le
